<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<html lang="en">
<style>
    body{
         background-color: #303030;
         padding:100px;
    }
    h1{
         text-align : center;
         color: whitesmoke;
        padding: 10px;
        margin:auto;
        text-align: center;
        
    }
    .row{
        color:red;
        padding: 10px;
        margin:auto;
        text-align: center;

    }
    .text1{
        text-align: center;
        padding: 10px;
        margin:auto;
    }
    ::placeholder{
        color:red;
    }
    
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login menu</title>
</head>
<body>
   
    <div class = 'row' id = 'table' >
        <h1 class ='row' >
            Login
        </h1>
        <div class='container-fluid'>
        <form action="/" method="POST">
        <div class='text1 row'>
        <input type= "text" name = "username" id="username" placeholder="Username"></input> <br>
        </div>
        <div class='text2 row'>
        <input type = "text" name = "password" id="password" placeholder="Password"></input> <br>
        </div>
        <div class='text2 row'>
        <input type = "submit">
        </div>
        </form>
         </div>
    </div> 
</body>
</html>