<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>


<html lang="en">
<style>
    body{
         background-color: #303030;
         padding:100px;
    }
    h1{
         text-align : center;
         color: red;
         padding: 10px;
        
        
    }
    .row{
        color:red;
        padding: 10px;

    }
    ::placeholder{
        color:red;
    }
    
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
</head>
<body>
   
    <div class = 'container-fluid' id = 'table' >
        <div  class="row">
            <div class="col">
            </div>
             
                <form action="/signup" method="POST">
                    <div style="background-color: rgb(30, 35, 40)" class="col">
                        <div class='row'>
                            <h1>SIGNUP</h1>
                        </div>
                        <div class='row'>
                            <input style = "background-color: rgba(0, 0, 0, 0);"  type= "text" name = "username" id="username" placeholder="Username"></input> <br>
                        </div>
                        <div class='row'>
                            <input style = "background-color: rgba(0, 0, 0, 0);" type = "text" name = "password" id="password" placeholder="Password"></input> <br>
                        </div>
                        <div style="margin-left: 0px;" class="row">
                            <button type="submit" class="btn btn-outline-danger" >LOGIN</button>
                        </div>
                    </div>
                
                </form>
                
            <div class="col">
            
            </div>
        </div>
        
        
    </div> 
</body>
</html>